html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.dropdown {
  z-index: 2;
}
.dropdown .dropdown-content {
  width: 100%;
}
.dropdown .dropdown-hidden {
  display: none;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  width: 100%;
}
.container {
  background: #1c2938;
  text-align: center;
  width: 100%;
}
h1 {
  font-size: 2.5em;
}
h1,
h2 {
  font-family: 'Nunito', sans-serif;
}
h2 {
  font-size: 1.8em;
}
p {
  font-family: 'Montserrat', sans-serif;
}
.about-content {
  color: #FFFFFF;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #1c2938, #2E8FD1);
  align-items: center;
  background-color: #FFFFFF;
}
.about-content h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 2em 0;
  font-size: 4em;
  font-weight: 600;
}
.about-content p {
  color: white;
  font-size: 1.8em;
}
.about-content .card {
  height: 400px;
  width: 300px;
  border: solid 1px black;
  box-shadow: 1px 4px grey;
}
.about-content .card .card-image img {
  height: 60%;
  width: 100%;
  border-bottom: solid 1px black;
}
.about-content .card .card-content h2 {
  text-align: center;
}
.about-content .carousel {
  width: 60rem;
}
.about-content .carousel img {
  border-radius: 8px;
}
.about-content .carousel-caption {
  border: 3px white solid;
  border-radius: 8px;
  margin-top: 7em;
  color: black;
  position: relative;
  left: auto;
  right: auto;
}
.about-content .carousel-caption h2 {
  margin-bottom: 0.5em;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 600;
}
nav {
  background-color: #1c2938;
  font-size: 1.8em;
  font-family: 'Nunito', sans-serif;
}
nav ul {
  display: flex;
  position: relative;
}
nav li {
  margin: 1em 1em;
}
nav a {
  font-weight: 600;
  text-decoration: none;
  color: #FFFFFF;
}
.icon {
  font-size: 1.8em;
  color: #FFFFFF;
}
.mid-l {
  margin-left: auto;
}
.mid-r {
  margin-right: auto;
}
.dropdown-button span {
  font-weight: 500;
  font-family: 'Righteous', cursive;
}
.about-nav a {
  text-decoration: none;
}
.about-nav a:hover {
  color: #FFFFFF;
}
footer {
  width: 100%;
  height: 3em;
  bottom: 0;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8em;
  color: #FFFFFF;
  background-color: #2E8FD1;
}
.about-footer {
  background-color: #2e8fd1;
}
.splash-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 900px;
  padding: 0em 12em 8em;
  color: #FFFFFF;
}
.splash-header p {
  line-height: 1.6;
  width: 75%;
  margin-top: 1em;
  font-size: 2.5em;
}
.splash-header button {
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  font-size: 2.5em;
  border: solid #2E8FD1 3px;
  border-radius: 8px;
  background-color: #1c2938;
  margin-top: 5em;
  width: 10em;
  height: 3em;
  transition: border-color ease 0.25s, background-color ease 0.25s;
}
.splash-header button:hover {
  border-color: #FFFFFF;
  background-color: #2E8FD1;
}
img {
  width: 600px;
  height: 400px;
}
.content-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  background-color: #FFFFFF;
  font-size: 2.5em;
}
.content-section p {
  line-height: 1.6;
  width: 45%;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.reverse {
  flex-direction: row-reverse;
}
