html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.dropdown {
  z-index: 2;
}
.dropdown .dropdown-content {
  width: 100%;
}
.dropdown .dropdown-hidden {
  display: none;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  width: 100%;
}
.container {
  text-align: center;
  width: 100%;
}
h1 {
  font-size: 2.5em;
}
h1,
h2 {
  font-family: 'Nunito', sans-serif;
}
h2 {
  font-size: 1.8em;
}
p {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
#about {
  background-color: #1c2938;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#about h1 {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 600;
}
section {
  padding: 4em;
}
.about-content {
  color: #FFFFFF;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 2em 18em;
  align-items: center;
}
@media (max-width: 800px) {
  .about-content {
    padding: 2em 12em;
  }
}
@media (max-width: 600px) {
  .about-content {
    padding: 2em 6em;
  }
}
.about-content p {
  font-size: 1.8em;
}
.about-content .card {
  color: black;
  margin: 1em;
  padding: 2%;
  height: 42em;
  width: 30em;
  border-radius: 10px;
  box-shadow: 8px 8px 16px lightslategrey;
}
@media (max-width: 800px) {
  .about-content .card {
    display: none;
  }
}
.about-content .card .card-image img {
  width: 100%;
  border-bottom: solid 1px black;
}
.about-content .card .card-content h2,
.about-content .card p {
  text-align: center;
}
.about-content .card h2 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: 600;
  font-size: 2.5em;
}
.about-content .carousel {
  display: none;
  padding: 2%;
  width: 70rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 8px;
}
.about-content .carousel img {
  border-radius: 8px;
}
@media (max-width: 800px) {
  .about-content .carousel {
    display: flex;
  }
}
.about-content .carousel-caption {
  border: 3px white solid;
  border-radius: 8px;
  margin-top: 7em;
  color: black;
  position: relative;
  left: auto;
  right: auto;
}
.about-content .carousel-caption h2 {
  margin-bottom: 0.5em;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 600;
}
.about-content .carousel-caption p {
  text-align: center;
}
nav {
  background-color: #1c2938;
  font-size: 1.8em;
  font-family: 'Nunito', sans-serif;
}
nav ul {
  display: flex;
  position: relative;
}
nav li {
  margin: 1em 1em;
}
nav a {
  font-weight: 600;
  text-decoration: none;
  color: #FFFFFF;
}
nav .navigation {
  margin-left: auto;
}
.nav {
  padding: 0 1em;
}
@media (max-width: 800px) {
  .nav {
    display: none;
  }
}
.dropdown {
  display: none;
}
@media (max-width: 800px) {
  .dropdown {
    display: flex;
  }
}
.icon {
  font-size: 1.8em;
  color: #FFFFFF;
}
.dropdown-button span {
  font-weight: 500;
  font-family: 'Righteous', cursive;
}
.about-nav {
  display: inline;
}
@media (max-width: 800px) {
  .about-nav {
    display: none;
  }
}
.about-nav a {
  text-decoration: none;
}
.about-nav a:hover {
  color: #FFFFFF;
}
footer {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 3em;
  bottom: 0;
  padding: 1em;
  font-size: 1.8em;
  color: #FFFFFF;
  background-color: #2E8FD1;
}
footer span {
  margin: 0 auto;
}
footer a {
  margin: 0 0.5em;
}
.about-footer {
  background-color: #2e8fd1;
}
@media (max-width: 800px) {
  .about-footer {
    position: absolute;
  }
}
.splash-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #1c2938;
  height: 900px;
  padding: 0em 12em 8em;
  color: #FFFFFF;
}
.splash-header #logo {
  width: 50em;
}
.splash-header p {
  text-align: center;
  line-height: 1.6;
  width: 75%;
  margin-top: 1em;
  font-size: 2.5em;
}
@media (max-width: 800px) {
  .splash-header p {
    width: 100%;
    line-height: 1.4;
  }
}
@media (max-width: 600px) {
  .splash-header p {
    display: none;
  }
}
.splash-header button {
  font-family: 'Nunito', sans-serif;
  color: #FFFFFF;
  font-size: 2.5em;
  border: solid #0B409C 3px;
  border-radius: 8px;
  background-color: #1c2938;
  margin-top: 4em;
  width: 10em;
  height: 3em;
  transition: border-color ease 0.25s, background-color ease 0.25s;
}
.splash-header button:hover {
  border-color: #FFFFFF;
  background-color: #2E8FD1;
}
.content-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 2em;
  height: auto;
  background-color: #FFFFFF;
  font-size: 2.5em;
}
.content-section img {
  width: 48%;
}
.content-section p {
  line-height: 1.6;
  width: 45%;
}
@media (max-width: 800px) {
  .content-section {
    flex-direction: column;
  }
  .content-section p {
    width: 100%;
  }
  .content-section img {
    width: 100%;
  }
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.reverse {
  flex-direction: row-reverse;
}
@media (max-width: 800px) {
  .reverse {
    flex-direction: column;
  }
}
