.about-content{
    color: @white;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, @dark-blue,@light-blue);
    align-items: center;
    background-color: @white;
    h1{ 
        font-family: @Mont;
        margin:2em 0;
        font-size:4em;
        font-weight: 600;
    }

    p{
        color: white;
        font-size: @standard;
    }
    .card{
        height: 400px;
        width: 300px;
        border: solid 1px black;
        box-shadow: 1px 4px grey;

        .card-image img{
            height: 60%;
            width: 100%;
            border-bottom:solid 1px black; 
        }

        .card-content h2{
            text-align: center;
        }
    }

    .carousel{
        width:60rem;
        img{
            border-radius: 8px;
        }
    }

    .carousel-caption{
        border: 3px white solid;
        border-radius: 8px;
        margin-top: 7em;
        color:black;
        position: relative;
        left: auto;
        right: auto;
    
        h2{
            margin-bottom: 0.5em;
            color: @white;
            font-family: @Mont;
            font-size: @large;
            font-weight: 600;
        }
        
    }
}

