* {
    box-sizing: border-box;    
}
  
  html {
    height: 100%;
    font-size: 62.5%;
  }

  body{
      height: 100%;
      width: 100%;
  }

  .container {
    text-align: center;
    width: 100%;
  }

  h1{
    font-size: @large;
  }

  h1,h2{
    font-family: @Nunito;
  }

  h2{
    font-size: @standard;
  }
  p{
    font-family: @Mont;
  }

  