.splash-header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height:900px;
    padding: 0em 12em 8em;
    color: @white;

    p {
        width:75%;
        margin-top: 1em;
        font-size: @large;
    }
}

img{
    width:600px;
    height:400px;
}

.content-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    background-color:@white; 
    font-size: @large;

    p{
        line-height: 1.6;
        width: 45%;
    }
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.reverse {
    flex-direction: row-reverse;
}