
nav{
    background-color: @dark-blue;
    font-size: @standard;
    font-family: @Nunito;
    ul{
        display: flex;
        position: relative;
    }
    li{
        margin:1em 1em;
    }
    a{
        font-weight: 600;  
        text-decoration: none;
        color: @white;
    }

    .navigation{
        margin-left: auto;
    }
}
.nav{
    padding: 0 1em;
    @media @tablet {
        display:none;
    }
}
.dropdown{
    display: none;
    @media @tablet {
        display: flex;
    }
}

.icon{
    font-size: @standard;
    color: @white;
}

.dropdown-button span{
    font-weight: 500;
    font-family: @Righteous;
}
.about-nav{
    display: inline; 
    @media @tablet {
        display: none;
    }
}
.about-nav a{
    text-decoration: none;
    &:hover{
        color: @white;
    }
}