
nav{
    ul {
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
    }

    ul #logo{
        color: @white;
        margin: 1% auto;
    }

    ul li{
        margin: 1% 0.5%;
    }

    ul li a{
        text-decoration: none;
        color: @white;
    }

}