
nav{
    font-size: @standard;
    font-family: @Nunito;
    ul{
        display: flex;
        position: relative;
    }
    li{
        margin:1em 1em;
    }
    a{
        
        text-decoration: none;
        color: @white;
    }

}
.icon{
    font-size: @standard;
    color: @white;
}

.mid-l{
    margin-left:auto;
}

.mid-r{
    margin-right:auto;
}
.dropdown-button span{
    font-weight: 500;
    font-family: 'Righteous', cursive;
}