// Color assignments 

// Colors
@white: #FFFFFF;
@light-blue: #2E8FD1;
@dark-blue: #1c2938;
@logo-blue: #0B409C;

// Fonts
@standard: 1.8em;
@large: 2.5em;
@Nunito: 'Nunito', sans-serif;
@Mont: 'Montserrat', sans-serif;
@Righteous: 'Righteous', cursive;


// Escape

@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";